.body {
  background-color: rgb(187, 209, 218);
}

.container_header {
  background-color: white;
  height: 15vh;
}

.logo {
  height: 10vh;
  width: 20vw;
}

.slogan {
  font-style: italic;
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: space-between;
}

a {
  margin: 0 5px;
}

.container_main {
  margin: 0 auto;
  height: 75vh;
  ;

}

.bandeau_title {
  background-color: rgb(15, 144, 250);
  color: white;
}

.bandeau_subTitle {
  color: rgb(15, 144, 250);
  font-weight: 900;
}

.bloc_card {
  display: flex;
  justify-content: space-between;

}

.card {
  border-radius: 10%;
  border: 1px solid gray;
}

footer {
  background-color: white;
  height: 10vh;
}