body {
  background-color: rgb(187, 209, 218);

}

.container_header {
  background-color: red;
}

.logo {
  height: 10vh;
  width: 20vw;
}

.slogan {
  font-style: italic;
  font-weight: 500;
}

nav {
  display: flex;
  justify-content: space-between;
}

a {
  margin: 0 5px;
}

.container_main {}

.bandeau_title {
  background-color: aqua;
  color: white;
}

.bandeau_subTitle {
  color: aqua;
}